* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
.body{
    background-color: rgb(27, 19, 19);
    align-items: center;
    text-align: justify;
    align-content: center;
    
}

.button{
    align-items: center;
    width: 100px;
    border-radius: 20px;
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    /* right: 300px; */
    border-left: 50%;    
    /* margin-left: 47%; */
    margin-bottom: 30px;
    cursor: pointer;
}

p{
  color: rgb(255, 255, 255);
}


  /* .ex14{
    display: flex;
    background-color: aqua;
    color: white;

  } */